.countdown {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .countdown div {
    color: black;
    font-weight: bold;
    margin: 0 20px;
    background: white;
    border-radius: 10px;
    padding: 40px;
    min-width: 70px;
    font-size: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    .countdown div {
        color: black;
    font-weight: bold;
    margin: 0 20px;
    background: white;
        border-radius: 10px;
        padding: 20px;
        min-width: 70px;
        font-size: 24px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    .countdown div {
      margin: 5px;
      font-size: 20px;
    }
  }